<!DOCTYPE html>
<html lang="en">

	<head>
		{% load static from staticfiles %}
		<meta charset="UTF-8">
		<title>CuVitae</title>
		<link rel="stylesheet" href="{% static "css/materialize.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="{% static "css/home.css" %}">
		<script src="{% static "js/materialize.js" %}" ></script>
		<script src="{% static "js/init.js" %}"></script>
	</head>


	<body class="bodyBase" >	

	 {% block nav %}

	 {% endblock nav %}


	 {% block section %}

	 {% endblock section %}



	 {% block Facebook %}
	 {% endblock Facebook %}


	</body>

</html>