<!DOCTYPE html>
<html lang="en">
<head>
	{% load static from staticfiles %}
	<meta charset="UTF-8">
	<title>HabemusCurriculum</title>
	<link rel="stylesheet" href="{% static "css/materialize.css" %}">
</head>
<body class="#80cbc4 teal lighten-3">
	<header>

		  <nav class="#00000 black">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center">Logo</a>
		      <ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li><a href="sass.html">Sass</a></li>
		        <li><a href="badges.html">Components</a></li>
		        <li><a href="collapsible.html">JavaScript</a></li>
		      </ul>
		    </div>
		  </nav>
       

	</header>
</body>
</html>