{% extends "home/index.html" %}
{% load static from staticfiles %}

{% block nav %}

	<header>
		<div class="container center">
			
			<nav class="navBg">
			  <div class="nav-wrapper">
			    <a href="#" class="brand-logo left"><img src="{% static "img/cuvitae_logo.png" %}" width="115" style="margin-top:7px; margin-left: 10px;" alt=""></a>
			    <div class="sesionSection">
			    		<script>
			    		  window.fbAsyncInit = function() {
			    		    FB.init({
			    		      appId      : '1069441553095558',
			    		      xfbml      : true,
			    		      version    : 'v2.5'
			    		    });
			    		  };

			    		  (function(d, s, id){
			    		     var js, fjs = d.getElementsByTagName(s)[0];
			    		     if (d.getElementById(id)) {return;}
			    		     js = d.createElement(s); js.id = id;
			    		     js.src = "//connect.facebook.net/en_US/sdk.js";
			    		     fjs.parentNode.insertBefore(js, fjs);
			    		   }(document, 'script', 'facebook-jssdk'));
			    		</script>


			    		 {% if user and not user.is_anonymous %}
			    			Bienvenido  {{ user.get_full_name }}.
			    			 <a href="{% url 'user-logout' %}"  class="btn_close">X</a>
			    			 {% else %}
			    			 <p class="msj">Inicia Sesión</p>
			    			 <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btnSesion btnFace">
			    			 
			    			 </a>
			    	 	 {% endif %}
			    </div>
			  </div>
			</nav>	

		</div>


	</header>

{% endblock nav %}
	



{% block section %}

	<section class="valign-wrapper heightSec">
		<article class="mainMessage valign">
			<h2><strong>Crea tu skill set</strong> <br>	 Demuestra tus habilidades de de manera simple</h2>
			{% if user and not user.is_anonymous %}
    			 <a href="/forma" class="btn grayBase" >CREAR CV +</a>
    			 {% else %}
    			 <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"  class="btn grayBase" >CREAR CV +</a>
    	 	 {% endif %}
		</article>
	</section>            
{% endblock section %}






{% block skill %}

	

{% endblock skill %}	