h2{
	color:black;
	width: 70%;
	margin: 0 auto;
	font-style: normal;
	font-variant: normal;
	font-family: Pacifico; cursive;
	text-align: center;
}
.primerBloque{
	height: 100%;
}
.btnBase{
	font-size: 20px;
}
.mainMessage{
	font-weight: 100;
}


article{
	margin-top: 30px
}

h4{
	text-align: center;
	color: black;
}

h5{
	color: black;
	text-align: center;
	font-family: Pacifico; cursive;
}

.container{
	text-align: justify;
}

.espacio{
	margin: 0 auto;
}