h2{
	color:black;
	width: 70%;
	margin: 0 auto;
	font-style: normal;
	font-variant: normal;
	font-family: Pacifico; cursive;
	text-align: center;
}
.primerBloque{
	height: 100%;
}
.btnBase{
	font-size: 20px;
}
.mainMessage{
	font-weight: 100;
}


article{
	margin-top: 30px
}

h4{
	text-align: center;
	color: black;
}

h5{
	color: black;
	text-align: center;
	font-family: Pacifico; cursive;
}

.container{
	text-align: Left;
}
.mensaje{
	height: 100px;
}
.espacio{
	margin: 0 auto;
}

.skillInput{
	width: 120px;
	display: inline-block;
	margin: 10px 15px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #07F8EA;
	padding: 10px 5px;
	min-height: 107px;
	vertical-align: top;
	
}
.skilInput .label{
	display: inline-block;
	
}
.check{
	display: block;
	margin:  0 auto 5px auto;
}