@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300|PT+Serif:700,400);
*{
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}
body, html{
	height: 100%;
}
/*
font-family: 'Titillium Web', sans-serif;
font-family: 'PT Serif', serif;
*/
.grisBase{
	background: #F0F1F1;
}
.baseColor{
	background: #172A3A;
}
.focus{
	background: #09BC8A;
}
.secColor{
	background: #3066BE;
}
.darkerColor{
	background: #004346;
}
.serif{
	font-family: 'PT Serif', serif;
	font-style: italic;
	
}

header{
	border-top: 4px solid #09BC8A; 
}